.contact {
  background-color: transparent;
  color: white;
  border-radius: 30px;
  border: 3px solid transparent;
  background: linear-gradient(0deg, rgb(255, 136, 0), rgb(76, 0, 0)) border-box;
  /* border-image: linear-gradient(to right, #61aec7, #ccd400) 1; */
}
