.menu {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
}
.menuButtons {
  color: rgb(0, 0, 0);
  margin: 3px;
  padding: 3px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.menu-options {
  margin: auto;
  padding: 3px;
  background-color: rgb(228, 228, 228);
  border: 1px solid transparent;
  border-radius: 30px;
}
