html,
body {
  height: 100vh;
  background-color: rgb(241, 241, 241);
  /* background: linea/r-gradient(0deg, rgb(159, 0, 0), rgb(0, 0, 0) 100%) no-repeat; */
}

/* .menu {
  background-color: blue;
} */
